<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<img src="../img/home_page_plot.png" >
			<!--<img src="../img/Pierre-Simon_Laplace_signature.png" alt="Pierre-Simon Laplace signature" width="400">-->
			
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
		        	<li><a href="/about">about</a></li>
	        		<!--<li><a href="/research">research</a></li>-->
	        		<!--<li><a href="/manual">lab manual</a></li>-->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:fbb2116@columbia.edu">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
